<div>
  <h1>Ajouter un chat</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="legacy">
      <mat-label>Saisir le nom</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Nom">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Saisir l'âge</mat-label>
      <input matInput type="text" formControlName="age" placeholder="Age">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Saisir la race</mat-label>
      <input matInput type="text" formControlName="race" placeholder="Race">
    </mat-form-field>

    <section class="example-section">
      <label class="example-margin">Est-il vivant ? </label>
      <mat-radio-group formControlName="isAlive">
        <mat-radio-button class="example-margin" value=true>Oui</mat-radio-button>
        <mat-radio-button class="example-margin" value=false>Non</mat-radio-button>
      </mat-radio-group>
    </section>


    <button type="submit">Envoyer</button>

  </form>

  <a routerLink="/cat">Vers la liste des chats >></a>
</div>
